/* Pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
  }
  
  .page-number {
    background-color: rgba(0,0,0,0);
    padding: 8px 12px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color:rgba(83, 82, 82, 0.4);
      text-decoration: underline;
    }
  }
  
  .page-number.active {
    background-color: #ed3535;
    color: #141212;
  }

  .pagination-button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:none;

    &:hover {
        background-color:rgba(81, 79, 79, 0.4);
        text-decoration: underline;
      }
  }
  